visao-computacional/.vscode/*
python4fun/__pycache__/*
java-masterclass/Exemplos/.idea/*
java-masterclass/Exemplos/out/*
react-for-beginners/node_modules/*
react-for-beginners/build/*
react-for-beginners/catch-of-the-day/src/base.js
react-for-beginners/catch-of-the-day/node_modules/*
