visao-computacional/.vscode/*
python4fun/__pycache__/*
java-masterclass/Exemplos/.idea/*
java-masterclass/Exemplos/out/*
react/react-for-beginners/node_modules/*
react/react-for-beginners/build/*
react/react-for-beginners/catch-of-the-day/src/base.js
react/react-for-beginners/catch-of-the-day/node_modules/*
react/react-advanced/sick-fits/frontend/node_modules/*
react/react-advanced/sick-fits/backend/node_modules/*

